.Home-container{
    display: flex;
    justify-content: center;
    height: 100vh;
    background-image: url("https://upload.wikimedia.org/wikipedia/en/9/9e/150_Pokemon_from_Pokemon_Stadium.png");
}
.background-container{
    background-color: aliceblue;
    opacity: 0.7;
    height: 100%;
    width: 100%;
}
.Header{
    display:flex ;
    justify-content: center;
    font-size: xx-large;
    color: black;
    height: 100px;
}
